<form name="ColaboradorForm" gumga-form novalidate>
    <div class="row">
        <div class="col-md-6">
            <div gumga-form-class="nome">
                <label gumga-translate-tag="colaborador.nome">nome</label>
                <input gumga-error gumga-required type="text" name="nome" ng-model="colaborador.data.nome"  class="form-control" />
            </div>		
        </div>
        <div class="col-md-6">
            <div gumga-form-class="email">
                <label gumga-translate-tag="colaborador.email">email</label>
                <input gumga-error gumga-required type="email" name="email" ng-model="colaborador.data.email"  class="form-control" />
            </div>		
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div gumga-form-class="matricula">
                <label gumga-translate-tag="colaborador.matricula">matricula</label>
                <input gumga-error gumga-required type="text" name="matricula" ng-model="colaborador.data.matricula"  class="form-control" />
            </div>
        </div>
    </div>
    <gumga-errors label="Lista de erros" placement="right" title="Lista de erros"></gumga-errors>
    <gumga-form-buttons
        back="colaborador.list"
        submit="colaborador.methods.put(colaborador.data)"
        position="right"
        valid="ColaboradorForm.$valid"
        confirm-dirty="true"
        continue="continue">
    </gumga-form-buttons>    
</form>