	<div class="row">
	
	    <div class="col-md-5">
	      <a ui-sref="recurso.insert" class="btn btn-primary">
	        <i class="glyphicon glyphicon-plus"></i>Novo
	      </a>
	
	      <button type="button" class="btn btn-danger" ng-click="recurso.methods.delete(selectedValues)" gumga-confirm="Deseja remover?">
	        <i class="glyphicon glyphicon-trash"></i>Remover
	      </button>
	    </div>
	
	    <div class="col-md-7">
	        <gumga-query search="recurso.methods.search(field,param)" advanced-search="recurso.methods.advancedSearch(param)" saved-filters="recurso.methods.getQuery(page)">
	            <search-field label="tipo" field="tipo"></search-field>
	            <search-field label="codigo" field="codigo"></search-field>
	            <search-field label="descricao" field="descricao"></search-field>
	            <advanced-search-field  type="string"  label="tipo" field="tipo"></advanced-search-field>
	            <advanced-search-field  type="string"  label="codigo" field="codigo"></advanced-search-field>
	            <advanced-search-field  type="string"  label="descricao" field="descricao"></advanced-search-field>
	        </gumga-query>
	    </div>
	</div>
	
	<div class="full-width-without-padding">
	    <gumga-list sort="recurso.methods.sort(field, dir)"
	           class="table-striped table-condensed"
	            data="recurso.data"
	            configuration="tableConfig">
	    </gumga-list>
	</div>

	<ul uib-pagination ng-model="page"
	            max-size="10"
	            boundary-links="true"
	            previous-text="Anterior"
	            next-Text="Próxima"
	            first-text="Primeira"
	            last-text="Última"
	            items-per-page="recurso.pageSize"
	            total-items="recurso.count"
	            ng-change="recurso.methods.get(page)">
	</ul>