<div class="row">
    <div class="col-md-12">
      <a ui-sref="reserva.list" class="btn btn-primary">
       Voltar para a lista
      </a>
    </div>
</div>

<div class="full-width-without-padding">
    <gumga-list sort="reserva.methods.sort(field, dir)"
           class="table-striped table-condensed"
            data="reserva.data"
            configuration="tableConfig">
    </gumga-list>
</div>

<ul uib-pagination ng-model="page"
            max-size="10"
            boundary-links="true"
            previous-text="Anterior"
            next-Text="Próxima"
            first-text="Primeira"
            last-text="Última"
            items-per-page="reserva.pageSize"
            total-items="reserva.count"
            ng-change="reserva.methods.get(page)">
</ul uib-pagination>